
.question-container {

  button {
    width: 75%;
    display: block;
    margin: 10px auto;
    color: $accent;
    background: $secondary;
  	padding: 15px;
  	border:none;
  	border-radius: 8px;
  	cursor: pointer;
  	outline:none;
  }


  button:hover {
  	background: $accent;
  	// color: $accent;
  	p {
  	   color: $secondary;
  	}
  }
}
